.header{
    position: fixed;
    background: #250c77;
    width: 100%;
    top: 0;
    left: 0;
    height: 120px;
    margin:auto;
}

.header-nav{
    display: flex;
    align-items: center;
    height: 100%;
    width: 1000px;
    margin: auto;
}

.header-logo .link{
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: white;
}
.gap{
    flex: 1;
}
.gap-logo{
    flex: .35;
}


.header-navlink .link{
    text-decoration: none;
    color: white;

}

.header-navlink ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.header-navlink ul li{
    display: flex;
    padding: 0 0.5rem;
}
